<div>
    <form (ngSubmit)="saveExpense()" #testForm="ngForm" ngNativeValidate>

      <label for="amount"><p>Amount:</p></label>
      <input type="number" name="amount" [(ngModel)]="expense.amount" required="true">
      
      <label for="description"><p>Description:</p></label>
      <input type="text" name="description" [(ngModel)]="expense.description" required="true" minlength="3">

      <label for="category"><p>Category</p></label>
      <select name="category" [(ngModel)]="expense.category" required="true">
        <option value='' disabled selected>Select the Category</option>
        <option *ngFor="let name of categoryEnum" [value]="name"> {{[name]}} </option>
      </select>

      <button type="submit">Add Expense</button>
    </form>
</div>


<div>
  <form (ngSubmit)="budgetExpense()">
    <label for="budgetAmount"><p>Budget Amount:</p></label>
    <input type="number" name="budgetAmount" [(ngModel)]="budgetAmount">
    <button type="submit">Add Budget</button>
  </form>
</div>